<div class="checkout-registration container">
      <div class="col-lg-11 mx-auto">
        <% if Spree::Config[:allow_guest_checkout] %>
          <% path = spree.respond_to?(:update_checkout_registration_path) ? spree.update_checkout_registration_path : spree_signup_path %>
    	<div class="d-flex justify-content-center">
        <h3 class="spree-mb-large spree-mt-large spree-header">Ingresa tu email para continuar</h3>
      </div>

          <%= form_for @order, url: path, method: :put, html: { id: 'checkout_form_registration' } do |f| %>
          <div class="col-md-6 form">

            <div class="form-group">
                <p><%= f.email_field :email, class: 'spree-flat-input', placeholder: Spree.t(:email) %></p>
            </div>
            <div class="field">
            <%= f.submit "Confirmar", class: 'btn btn-primary btn-block spree-btn mt-5', tabindex: 4 %>
            </div>
          <% end %>
        </div>
        <% end %>

    </div>
