<% case type %>
<% when "not-available-in-currency" %>
  <span class="add-to-cart-form-general-availability-value add-to-cart-form-general-availability-value--danger">No disponible</span>
<% when "in-stock" %>
  <span class="add-to-cart-form-general-availability-value">En stock</span>
<% when "backorderable" %>
  <span class="add-to-cart-form-general-availability-value add-to-cart-form-general-availability-value--warning"><%= Spree.t(:backordered_info) %></span>
<% when "out-of-stock" %>
  <span class="add-to-cart-form-general-availability-value add-to-cart-form-general-availability-value--danger">Sin stock</span>
<% end %>
