<h1 class="text-center py-5 jumbo font-weight-bold">ERROR</h1>

<h1 class="text-center py-5">Hemos tenido un problema al procesar tu pago :(</h1>

<div class="text-center">
	<!-- linkear al root page !-->
	<%= link_to "VOLVER A LA TIENDA", new_payment_path, class: 'btn btn-danger rounded'%>
</div>
