<nav>
  <% if can? :admin, Spree::Order %>
    <ul class="nav nav-sidebar border-bottom">
      <%= tab *Spree::BackendConfiguration::ORDER_TABS, icon: 'shopping-cart' %>
    </ul>
  <% end %>


  <% if can? :admin, Spree::Product %>
    <ul class="nav nav-sidebar border-bottom">
      <%= main_menu_tree Spree.t(:products), icon: "th-large", sub_menu: "product", url: "#sidebar-product" %>
    </ul>
  <% end %>

  <% if can? :admin, Spree::Admin::ReportsController %>
    <ul class="nav nav-sidebar border-bottom">
      <%= tab *Spree::BackendConfiguration::REPORT_TABS, icon: 'file'  %>
    </ul>
  <% end %>

</nav>
