<div class="container text-center">
  <div id="no-taxon-banner">
    <div class="mt-2">
      <%= lazy_image(
        src: asset_path('homepage/bannerus.png'),
        alt: 'products-banner',
        width: 1110,
        height: 300,
        class: 'w-100 d-none d-md-block'
      ) %>
    </div>
  </div>

  <div class="container my-5">
    <h3>La Cuadrilla es un espacio que cuenta con una</h3>
    <h3>librería y cafetería para realizar talleres,</h3>
    <h3>reuniones y presentaciones de libros.</h3>
    <h6 class="mt-5">Inauguramos el 12 de diciembre del 2019. Pretendemos</h6>
    <h6>ser un espacio de encuentro para lectores. Nuestro</h6>
    <h6>catálogo está orientado hacia las ciencias sociales</h6>
    <h6>y humanidades, particularmente al pensamiento crítico.</h6>
  </div>

</div>
