@font-face{
  font-family: "American_Typewriter";
  src: url('/assets/American_Typewriter.ttf');
}

.insta{
  font-size: 2.5em;
  padding-right: 0.2em;
}

.insta2{
  font-size: 1.6em;
  color: inherit;
  padding-right: 0.2em;
}


a:hover{
  color: inherit;
}

.form{
  height: auto;
  width: 37vw;
}

main{
  min-height: calc(100vh - 129px)
}

.ocult{
  display: none;
}
