<% @body_id = 'home' %>

<div class="homepage-hero-image mb-3 position-relative">
  <img class="lazyload hero-image position-absolute"
  data-src="<%= asset_path('homepage/hero.JPG') %>"/>

  <div class="hero-content">
    <div>
      <%= link_to "IR AL CATÃLOGO", spree.products_path, class: 'btn rounded btn-lg font-weight-bold text-dark btn-primary px-5 display-5' %>
    </div>
  </div>
</div>

<div data-product-carousel data-product-carousel-taxon-id='bestsellers' class="my-3"></div>

<div data-product-carousel data-product-carousel-taxon-id='trending' class="mb-3"></div>
