<% @body_id = 'home' %>

<div class="homepage-hero-image mb-3 position-relative">
  <img class="lazyload hero-image position-absolute"
  data-src="<%= asset_path('homepage/hero.jpg') %>"/>
</div>

<div data-product-carousel data-product-carousel-taxon-id='feminismo' class="my-5"></div>

<div class="text-center">
  <%= link_to "IR AL CATÃLOGO", spree.products_path, class: 'btn rounded btn-lg font-weight-bold btn-primary px-3 my-3 display-5 btnindex' %>
</div>

<div data-product-carousel data-product-carousel-taxon-id='1' class="my-5"></div>
